.form {
  max-width: 1000px;
  width: 90%;
  margin: 20px auto;
}

.input {
  width: 100%;
  margin: 20px;
  display: block;
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  font-family: "Cabin", sans-serif;
  border: 0;
  box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.14);
}

.textarea {
  width: 100%;
  margin: 20px;
  display: block;
  padding: 15px;
  height: 200px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Cabin", sans-serif;
  border: 0;
  box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.14);
}

.label {
  font-size: 20px;
}

.btn {
  font-size: 25px;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  margin: 0.5em 0.4em;
  border-radius: 0.12em;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: all 0.2s;
  background-color: transparent;
  cursor: pointer;
  margin: 20px;
}

.btn:hover {
  color: black;
  background-color: white;
}
