html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  background-color: #1a508b;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Cabin";
}
