.container {
  width: 99%;
  max-width: 1000px;
  margin: 0 auto;
}

.project {
  position: relative;
  margin-top: 60px;
  border-radius: 10px;
  padding: 40px 40px 20px 40px;
  background: #1a508b;
  box-shadow: 0 0 2rem 10px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-out;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #296da8;
  box-shadow: 0 0 8rem 30px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
}

.link {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
